/* this css cares only about teh Recipe.js component
recipe.module.css
- hence, names of classes can be the same as in other components
- it will not make a difference. 
*/

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
    radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
  padding-bottom: 30px;
  padding-right: 20px;
}

.image {
  border-radius: 5%;
  width: 250px;
  height: 200px;
}
